.places {
  display: grid;
  align-self: center;
  max-width: 984px;
  margin: 0 auto;
  padding: 0 148px;
  row-gap: 80px;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 928px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    row-gap: 72px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 0;
    max-width: 320px;
    row-gap: 50px;
  }
}
