.places__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  margin: 6px;
  padding: 0;
  max-width: 560px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 767px) {
  .places__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 424px) {
  .places__title {
    font-size: 32px;
    margin: 64px 16px 0 16px;
  }
}


