.places__text {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 424px) {
  .places__text {
    margin: 0 16px 0 16px;
  }
}
