@font-face {
  font-family: 'Inter-Regular';
  src: url("/fonts/Inter_Web/Inter-Regular.woff2") format("woff2"),
       url("/fonts/Inter_Web/Inter-Regular.woff") format("woff");
}

.lead__subtitle {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  max-width: 640px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: 288px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: 288px;
  }
}
