.place__link {
  display: inline-block;
  color: #fff;
  margin: 0;
  transition: opacity 0.2s linear;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

.place__link:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.8;
}
