.places__place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(2, min-content);
  align-items: start;
  gap: 48px 40px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .places__place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 767px) {
  .places__place {
    grid-template-columns: 340px 1fr;
    max-width: 720px;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 689px) {
  .places__place {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 32px;
  }
}

@media screen and (max-width: 424px) {
  .places__place {
    margin: 0;
    text-align: left;
  }
}


