@font-face {
  font-family: 'Inter-Regular';
  src: url("/fonts/Inter_Web/Inter-Regular.woff2") format("woff2"),
       url("/fonts/Inter_Web/Inter-Regular.woff") format("woff");
}

.place__url-heading {
  font-family: 'Inter-Regular', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #aaa;
  font-size: 12px;
  line-height: 1;
  margin-top: 110px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 425px) {
  .place__url-heading {
    margin-top: 32px;
    text-align: center;
  }
}
